<%- include('partials/header'); %>

<body>

    <%- include('partials/homenavbar'); %>

    <div class="container">

        <div class="jumbotron">
            <h1 class="display-4">Bem Vindo</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention
                to
                featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Leia Mais</a>
        </div>

        <% articles.forEach(article =>{ %>

        <div class="card">
            <div class="card-header">
                <%= article.title %>
            </div>
            <div class="card-body">
                <a href="/<%=article.slug %>">
                    <div class="btn btn-success">Ler artigo</div>
                </a>
            </div>

        </div>
        <br>
        <% }) %>
        <div class="row">
            <div class="col col-12">
                <a href="articles/page/2" style="float: right;">Próximo</a>
            </div>
        </div>
    </div>

</body>

<%- include('partials/footer'); %>